/*
 * Nav
 */

.navbar {
  height: 48px;
}

/*
 * Sidebar
 */

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 20px;
  padding-left: 30px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

  
/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}
