{% extends 'base.html' %}
{% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="row mt-4 mb-4">
        <div class="col-lg-3">
            <div class="bg-white d-flex justify-content-between p-4">
                <div class="text-left"><i class="fa fa-euro-sign fa-5x text-primary"></i></div>
                <div class="text-right">
                    <h3>50 €</h3>
                    <h6>Solde actuel</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bg-white d-flex justify-content-between p-4">
                <div class="text-left"><i class="fa fa-arrow-circle-up fa-5x text-success"></i></div>
                <div class="text-right">
                    <h3>50 €</h3>
                    <h6>Reçus ce mois</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bg-white d-flex justify-content-between p-4">
                <div class="text-left"><i class="fa fa-arrow-circle-down fa-5x text-danger"></i></div>
                <div class="text-right">
                    <h3>50 €</h3>
                    <h6>Dépensés ce mois</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bg-white d-flex justify-content-between p-4">
                <div class="text-left"><i class="fa fa-piggy-bank fa-5x text-info"></i></div>
                <div class="text-right">
                    <h3>50 €</h3>
                    <h6>Economisés ce mois</h6>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 mt-4 mb-4">
             <div class="bg-white p-4">
                <h5></h5>
            </div>
        </div>
        <div class="col-lg-8">
             <div class="bg-white p-4">
                <h5></h5>
                <table class="table bg-white">
                <tr>
                    <td><i class="fa text-info"></i></td>
                    <td></td>
                    <td><i></i></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    

{% endblock %}
